/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
body {
	@apply bg-background text-foreground font-display;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
}

.current_page_item {
	@apply bg-primary-red rounded-2xl p-1;
}

nav li:hover {
	@apply text-primary-red; 
}

section:not(:first-child) {
    @apply relative xl:top-[50rem] top-[49rem];
}

.custom-shape-divider-top-1719228374 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1719228374 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1719228374 .shape-fill {
    fill: #BF0000;
}

.reason {
    @apply p-4 mt-6 w-[456px] h-[184px] bg-white rounded-[30px] shadow-reasonBox shadow-primary-red-opacity flex flex-row;
}


/* Shape Divider for About Me Section  */
.custom-shape-divider-top-1720880573 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1720880573 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 475px;
}

.custom-shape-divider-top-1720880573 .shape-fill {
    @apply fill-gray-200;
}


/* Shape Divider for Services Section */
.custom-shape-divider-bottom-1720882309 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1720882309 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 144px;
}

.custom-shape-divider-bottom-1720882309 .shape-fill {
    @apply fill-gray-200;
}

.custom-shape-divider-top-1721051400 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1721051400 svg {
    position: relative;
    display: block;
    width: calc(197% + 1.3px);
    height: 228px;
}

.custom-shape-divider-top-1721051400 .shape-fill {
    fill: #B4000080;
}

.custom-shape-divider-bottom-1721051432 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1721051432 svg {
    position: relative;
    display: block;
    width: calc(197% + 1.3px);
    height: 228px;
}

.custom-shape-divider-bottom-1721051432 .shape-fill {
    fill: #B4000080;
}