/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
body {
	@apply bg-background text-foreground font-display;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

.current_page_item {
	@apply bg-primary-red rounded-2xl p-1;
}

nav li:hover {
	@apply text-primary-red; 
}

/* section:not(:first-child), footer {
    @apply relative xl:top-[50rem] top-[49rem];
} */

.page-template-page-home section {
    @apply lg:top-[-7rem] relative top-[-6rem];
}

a:where(:not(.wp-element-button)) {
    text-decoration: none;
}

.cta-content a {
    @apply !w-full lg:!w-64;
}

.custom-shape-divider-top-1719228374 {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1719228374 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1719228374 .shape-fill {
    fill: #BF0000;
}

.reason {
    @apply p-4 mt-16 w-[26rem] lg:h-48 h-fit bg-[aliceblue] rounded-[30px] shadow-reasonBox shadow-primary-red-opacity flex flex-row z-20;
}

.service-container {
    @apply shadow-reasonBox shadow-primary-red-opacity;
}

input, textarea {
    @apply !rounded-3xl caret-primary-red;
}

#footer-menu .current_page_item {
    @apply bg-transparent p-0 text-primary-red;
}

#footer-menu li {
    @apply my-4 hover:text-primary-red;
}


/* Shape Divider for About Me Section  */
.custom-shape-divider-top-1720880573 {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1720880573 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 475px;
}

.custom-shape-divider-top-1720880573 .shape-fill {
    @apply fill-gray-200;
}


/* Shape Divider for Services Section */
.custom-shape-divider-bottom-1720882309 {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1720882309 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 144px;
}

.custom-shape-divider-bottom-1720882309 .shape-fill {
    @apply fill-gray-200;
}


/* Shape Divider for Reasons Section */
.custom-shape-divider-top-1721051400 {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1721051400 svg {
    position: relative;
    display: block;
    width: calc(197% + 1.3px);
    height: 228px;
}

.custom-shape-divider-top-1721051400 .shape-fill {
    fill: #B4000080;
}

.custom-shape-divider-bottom-1721051432 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1721051432 svg {
    position: relative;
    display: block;
    width: calc(197% + 1.3px);
    height: 228px;
}

.custom-shape-divider-bottom-1721051432 .shape-fill {
    fill: #B4000080;
}

/* Shape Divider for Footer Section */
.custom-shape-divider-bottom-1721216662 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1721216662 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 133px;
}

.custom-shape-divider-bottom-1721216662 .shape-fill {
    fill: #3A3A3A;
}